link(rel="stylesheet" href="/stylesheets/v4template/components/collegeList.css")

div.search-group
    span.label 院系名称
    input(placeholder="请输入院系名称" id="search-write")
    input(type="button" value="查询" id="search-btn" class="themeBackgroundColor")

table.college-list
    thead
        tr
            th 序号
            th 院系名称
            th 专业名称
            th 学制
            th 授予学位
    tbody#tbody1





script.

    $(function () {
        var getMajorList = '';
        $.get(BASE_HOST + '/front/info/getFrontDepList', {
            sCode: SCODE,
            needPage: false,
            departmentName: ''
        }, function (data) {
            data = data.data;
            for (var i = 0; i < data.length; i++) {
                getMajorList += '<tr>'
                    + '<td>' + (i + 1) + '</td><td><a class="themeColor" href="' +toDetailPage(APP_SERVER + '/secondPage/secondPageCollegeInfo?sCode=' + SCODE + '&parentId=' + PARENTID + '&infoId=' + INFOID + '&departId=' + data[i].departId) + '">' + (data[i].departName != null ? data[i].departName : '-')
                    + '</a></td><td><a class="themeColor" href="' +toDetailPage(APP_SERVER + '/secondPage/secondPageMajorInfo?sCode=' + SCODE + '&parentId=' + PARENTID + '&infoId=' + INFOID + '&majorId=' + data[i].id) + '">' + (data[i].name != null ? data[i].name : '-') + '</a></td><td class="td4">' + (data[i].schoolYear != null ? data[i].schoolYear : '-') + '</td><td class="td5">' + (data[i].degree != null ? data[i].degree : '-') + '</td>'
                    + '</tr>'

            }
            $('#tbody1').html(getMajorList);
            $('#tbody1 tr:odd').addClass('odd');
            var tdNo2 = $('#tbody1 td:nth-child(2)');
            var rowSpan = 1;
            var newIndex = 0;
            tdNo2.each(function (i, v) {
                if (i >= 1) {
                    if ($(this).text().trim() == tdNo2.eq(newIndex).text().trim()) {
                        rowSpan++;
                        tdNo2.eq(newIndex).attr('rowspan', rowSpan);
                        $(this).remove();
                    } else {
                        rowSpan = 1;
                        newIndex = i;
                    }
                }
            })
        })

        $('#search-btn').on('click', function () {
            getMajorList = '';
            var collegeName = $('#search-write').val();
            $.get(BASE_HOST + '/front/info/getFrontDepList', {
                sCode: SCODE,
                needPage: false,
                departmentName: collegeName
            }, function (data) {
                data = data.data;
                for (var i = 0; i < data.length; i++) {
                    getMajorList += '<tr>'
                        + '<td>' + (i + 1) + '</td><td><a class="themeColor" href="' + toDetailPage(APP_SERVER + '/secondPage/secondPageCollegeInfo?sCode=' + SCODE + '&parentId=' + PARENTID + '&infoId=' + INFOID + '&departId=' + data[i].departId) + '">' + (data[i].departName != null ? data[i].departName : '-')
                        + '</a></td><td><a class="themeColor" href="' + toDetailPage(APP_SERVER + '/secondPage/secondPageMajorInfo?sCode=' + SCODE + '&parentId=' + PARENTID + '&infoId=' + INFOID + '&majorId=' + data[i].id) + '">' + (data[i].name != null ? data[i].name : '-') + '</a></td><td class="td4">' + (data[i].schoolYear != null ? data[i].schoolYear : '-') + '</td><td class="td5">' + (data[i].degree != null ? data[i].degree : '-') + '</td>'
                        + '</tr>'
                }

                $('#tbody1').html(getMajorList);
                $('#tbody1 tr:odd').addClass('odd');
                var tdNo2 = $('#tbody1 td:nth-child(2)');
                var rowSpan = 1;
                var newIndex = 0;
                tdNo2.each(function (i, v) {
                    if (i >= 1) {
                        if ($(this).text().trim() == tdNo2.eq(newIndex).text().trim()) {
                            rowSpan++;
                            tdNo2.eq(newIndex).attr('rowspan', rowSpan);
                            $(this).remove();
                        } else {
                            rowSpan = 1;
                            newIndex = i;
                        }
                    }
                })
            })
        })


    })

<!--script(src="/javascripts/v4template/components/collegeList.js")-->