link(rel="stylesheet" href="/stylesheets/v4template/components/majorAdmission.css")
div.footprint 您的当前位置：报考指南 | 计划/录取

- var data=[{"id":8042,"majorName":"阿拉伯语","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":600.0,"lowScore":600.0,"avgScore":600.0,"sCode":"NLGYFE","type":"普通招生","batch":"提前批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8044,"majorName":"朝鲜（韩）语","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":599.0,"lowScore":599.0,"avgScore":599.0,"sCode":"NLGYFE","type":"普通招生","batch":"提前批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":null,"scoreLine":520.0,"pagination":null},{"id":8046,"majorName":"俄语","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":2,"hightScore":607.0,"lowScore":597.0,"avgScore":602.0,"sCode":"NLGYFE","type":"普通招生","batch":"提前批","isDelete":0,"creator":"yangminguibe","createTime":1477929600000,"modifier":"admin_NLGYFE","modifyTime":1477929600000,"remark":null,"ids":null,"enrollPlan":2,"scoreLine":520.0,"pagination":null},{"id":8048,"majorName":"日语","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":601.0,"lowScore":601.0,"avgScore":601.0,"sCode":"NLGYFE","type":"普通招生","batch":"提前批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8050,"majorName":"意大利语","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":2,"hightScore":598.0,"lowScore":596.0,"avgScore":597.0,"sCode":"NLGYFE","type":"普通招生","batch":"提前批","isDelete":0,"creator":"yangminguibe","createTime":1477929600000,"modifier":"admin_NLGYFE","modifyTime":1477929600000,"remark":null,"ids":null,"enrollPlan":2,"scoreLine":520.0,"pagination":null},{"id":8052,"majorName":"希腊语","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":596.0,"lowScore":596.0,"avgScore":596.0,"sCode":"NLGYFE","type":"普通招生","batch":"提前批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8155,"majorName":"国际经济与贸易","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":591.0,"lowScore":591.0,"avgScore":591.0,"sCode":"NLGYFE","type":"普通招生","batch":"国家专项计划","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8156,"majorName":"金融学（金融学院）","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":595.0,"lowScore":595.0,"avgScore":595.0,"sCode":"NLGYFE","type":"普通招生","batch":"国家专项计划","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":null,"scoreLine":520.0,"pagination":null},{"id":8159,"majorName":"会计学","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":595.0,"lowScore":595.0,"avgScore":595.0,"sCode":"NLGYFE","type":"普通招生","batch":"国家专项计划","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8162,"majorName":"法语","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":589.0,"lowScore":589.0,"avgScore":589.0,"sCode":"NLGYFE","type":"普通招生","batch":"国家专项计划","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8163,"majorName":"法学","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":591.0,"lowScore":591.0,"avgScore":591.0,"sCode":"NLGYFE","type":"普通招生","batch":"国家专项计划","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8666,"majorName":"金融学（国际经济贸易学院）","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":2,"hightScore":617.0,"lowScore":615.0,"avgScore":616.0,"sCode":"NLGYFE","type":"普通招生","batch":"本科一批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":null,"scoreLine":520.0,"pagination":null},{"id":8669,"majorName":"税收学","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":613.0,"lowScore":613.0,"avgScore":613.0,"sCode":"NLGYFE","type":"普通招生","batch":"本科一批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8673,"majorName":"投资学","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":618.0,"lowScore":618.0,"avgScore":618.0,"sCode":"NLGYFE","type":"普通招生","batch":"本科一批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8676,"majorName":"保险学","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":611.0,"lowScore":611.0,"avgScore":611.0,"sCode":"NLGYFE","type":"普通招生","batch":"本科一批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8683,"majorName":"财务管理","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":616.0,"lowScore":616.0,"avgScore":616.0,"sCode":"NLGYFE","type":"普通招生","batch":"本科一批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8690,"majorName":"政治学与行政学","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":610.0,"lowScore":610.0,"avgScore":610.0,"sCode":"NLGYFE","type":"普通招生","batch":"本科一批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":1,"scoreLine":520.0,"pagination":null},{"id":8691,"majorName":"汉语国际教育","year":2016,"cityId":null,"cityName":"湖北","scienceClass":"文科","enrollNum":1,"hightScore":613.0,"lowScore":613.0,"avgScore":613.0,"sCode":"NLGYFE","type":"普通招生","batch":"本科一批","isDelete":0,"creator":"yangminguibe","createTime":1469203200000,"modifier":null,"modifyTime":1469203200000,"remark":null,"ids":null,"enrollPlan":0,"scoreLine":520.0,"pagination":null}]


div#show-majorData
    ul.tabs
        li.themeColor.themeBorderBottom2
            span.before.themeBottomColor
            span.after
            | 各年度分专业录取情况
        li
            span.before
            span.after
            | 单个专业不同年度录取情况


    div.by-table#table1
        h1 1、多个专业横向展示
        div.selects
            span.label 生源地
            select#sel1

            span.label 年度
            select#sel2

            span.label 科类
            select#sel3

            span.label 类型
            select#sel4

            span.label 录取批次
            select#sel5

        table.score-table
            thead
                tr
                    th 专业
                    th 年度
                    th 批次
                    th 省线
                    th 最低分
                    th 平均分
                    th 最高分
                    th 最低分分差
                    th 平均分分差
                    th 备注
            tbody#tbody1

    div.by-table#table2
        h1 1、单个专业纵向列表
        div.selects
            span.label 生源地
            select#sel21

            span.label 科类
            select#sel22

            span.label 类型
            select#sel23

            span.label 录取批次
            select#sel24

            span.label 专业
            select#sel25

        table.score-table
            thead
                tr
                    th 专业
                    th 年度
                    th 批次
                    th 省线
                    th 最低分
                    th 平均分
                    th 最高分
                    th 最低分分差
                    th 平均分分差
                    th 备注
            tbody#tbody2



    div.by-bars
        h1 2、多个专业录取横向比较图
        div#bars(style={width:'900px',height:'400px'})





script.
    $(function(){
        $.get(HOST+'/majorScore',{scode:'NLGYFE'},function(data){
            var sel1='',sel2='',sel3='',sel4='',sel5='';
            var sle21='',sel22='',sel23='',sel24='',sel25='';
            for(var i =0;i< data.cityList.length;i++){
                sel1+='<option value="'+data.cityList[i].name+'">'+data.cityList[i].name+'</option>'
                sel21+='<option value="'+data.cityList[i].name+'">'+data.cityList[i].name+'</option>'
            }
            $('#sel1').html(sel1);
            $('#sel21').html(sel21);

            for(var i=0;i< data.yearList.length;i++){
                sel2+='<option value="'+data.yearList[i]+'">'+data.yearList[i]+'</option>'
            }
            $('#sel2').html(sel2);

            for(var i=0;i< data.scienceList.length;i++){
                sel3+='<option value="'+data.scienceList[i]+'">'+data.scienceList[i]+'</option>'
                sel22+='<option value="'+data.scienceList[i]+'">'+data.scienceList[i]+'</option>'
            }
            $('#sel3').html(sel3);
            $('#sel22').html(sel22);

            for(var i=0;i< data.typeList.length;i++){
                sel4+='<option value="'+data.typeList[i]+'">'+data.typeList[i]+'</option>'
                sel23+='<option value="'+data.typeList[i]+'">'+data.typeList[i]+'</option>'
            }
            $('#sel4').html(sel4);
            $('#sel23').html(sel23);

            for(var i=0;i< data.batchList.length;i++){
                sel5+='<option value="'+data.batchList[i]+'">'+data.batchList[i]+'</option>'
                sel24+='<option value="'+data.batchList[i]+'">'+data.batchList[i]+'</option>'
            }
            $('#sel5').html(sel5);
            $('#sel24').html(sel24);

            for(var i=0;i< data.majorList.length;i++){
                sel25+='<option value="'+data.majorList[i]+'">'+data.majorList[i]+'</option>'
            }
            $('#sel25').html(sel25)

            $.get(HOST+'/findMajorScoreCompareList',{sCode:'NLGYFE',year:$('#sel2').val(),cityName:$('#sel1').val(),type:$('#sel4').val(),scienceClass:$('sel3').val(),batch:$('sel5').val()},function(data){
                var findMajorScoreCompareList='';
                for(var i=0;i< data.length;i++){
                    findMajorScoreCompareList+='<tr>'
                                            +'<td>'+data[i].majorName+'</td>'
                                            +'<td>'+data[i].year+'</td>'
                                            +'<td>'+data[i].batch+'</td>'
                                            +'<td>'+data[i].scoreLine+'</td>'
                                            +'<td>'+data[i].lowScore+'</td>'
                                            +'<td>'+data[i].avgScore+'</td>'
                                            +'<td>'+data[i].hightScore+'</td>'
                                            +'<td>'+(data[i].lowScore-data[i].scoreLine)+'</td>'
                                            +'<td>'+(data[i].avgScore-data[i].scoreLine)+'</td>'
                                            +'<td></td>'
                                            +'</tr>'
                }
                $('#tbody1').html(findMajorScoreCompareList);






                var myChart = echarts.init(document.getElementById('bars'));


                var xData=[],yData=[];
                for(var i=0;i< data.length;i++){
                    xData.push(data[i].majorName);
                    yData.push(data[i].avgScore-data[i].scoreLine);
                }

                var option = {
                    color: ['#FF7F50'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '20%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xData,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLabel:{
                                interval:0,
                                rotate:35
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '直接访问',
                            type: 'bar',
                            barWidth: '60%',
                            data: yData
                        }
                    ]
                };

                myChart.setOption(option);

            })

            $.get(HOST+'/findMajorScoreList',{sCode:'NLGYFE',cityName:$('#sel21').val(),type:$('#sel23').val()},function(data){
                var findMajorScoreList='';
                for(var i=0;i< data.length;i++){
                    findMajorScoreList+='<tr>'
                                        +'<td>'+data[i].majorName+'</td>'
                                        +'<td>'+data[i].year+'</td>'
                                        +'<td>'+data[i].batch+'</td>'
                                        +'<td>'+data[i].scoreLine+'</td>'
                                        +'<td>'+data[i].lowScore+'</td>'
                                        +'<td>'+data[i].avgScore+'</td>'
                                        +'<td>'+data[i].hightScore+'</td>'
                                        +'<td>'+(data[i].lowScore-data[i].scoreLine)+'</td>'
                                        +'<td>'+(data[i].avgScore-data[i].scoreLine)+'</td>'
                                        +'<td></td>'
                                        +'</tr>'
                }
                $('#tbody2').html(findMajorScoreList);
            })
        })
    })





script(src="/javascripts/v4template/components/majorAdmission.js")