html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
element {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body,
a,
input,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #000000;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
table {
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th {
  text-align: center;
  vertical-align: middle;
}
/*通用*/
.flt {
  float: left;
}
.frt {
  float: right;
}
.clr {
  clear: both;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt5-i {
  margin-top: 5px ! important;
}
.mt10-i {
  margin-top: 10px ! important;
}
.mt15-i {
  margin-top: 15px ! important;
}
.mt20-i {
  margin-top: 20px ! important;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb5-i {
  margin-bottom: 5px ! important;
}
.mb10-i {
  margin-bottom: 10px ! important;
}
.mb15-i {
  margin-bottom: 15px ! important;
}
.mb20-i {
  margin-bottom: 20px ! important;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml5-i {
  margin-left: 5px ! important;
}
.ml10-i {
  margin-left: 10px ! important;
}
.ml15-i {
  margin-left: 15px ! important;
}
.ml20-i {
  margin-left: 20px ! important;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr5-i {
  margin-right: 5px ! important;
}
.mr10-i {
  margin-right: 10px ! important;
}
.mr15-i {
  margin-right: 15px ! important;
}
.mr20-i {
  margin-right: 20px ! important;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt5-i {
  padding-top: 5px ! important;
}
.pt10-i {
  padding-top: 10px ! important;
}
.pt15-i {
  padding-top: 15px ! important;
}
.pt20-i {
  padding-top: 20px ! important;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb5-i {
  padding-bottom: 5px ! important;
}
.pb10-i {
  padding-bottom: 10px ! important;
}
.pb15-i {
  padding-bottom: 15px ! important;
}
.pb20-i {
  padding-bottom: 20px ! important;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr5-i {
  padding-right: 5px ! important;
}
.pr10-i {
  padding-right: 10px ! important;
}
.pr15-i {
  padding-right: 15px ! important;
}
.pr20-i {
  padding-right: 20px ! important;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl5-i {
  padding-left: 5px ! important;
}
.pl10-i {
  padding-left: 10px ! important;
}
.pl15-i {
  padding-left: 15px ! important;
}
.pl20-i {
  padding-left: 20px ! important;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fz12 {
  font-size: 12px ! important;
}
.fz14 {
  font-size: 14px ! important;
}
.fz16 {
  font-size: 16px ! important;
}
.fz18 {
  font-size: 18px ! important;
}
.pre {
  position: relative ! important;
}
.c-w {
  color: #fff;
}
.c-b {
  color: #000;
}
.c-9 {
  color: #999;
}
.c-6 {
  color: #666;
}
.c-3 {
  color: #333;
}
.c-w-i {
  color: #fff ! important;
}
.c-b-i {
  color: #000 ! important;
}
.c-9-i {
  color: #999 ! important;
}
.c-6-i {
  color: #666 ! important;
}
.c-3-i {
  color: #333 ! important;
}
.t-c {
  text-align: center;
}
.t-c-i {
  text-align: center ! important;
}
.l-c {
  vertical-align: middle;
}
.l-c-i {
  vertical-align: middle ! important;
}
.bz-bb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.bz-cb {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.bc-w {
  background: #fff;
}
.bc-w-i {
  background: #fff ! important;
}
.fw-in {
  font-weight: inherit ! important;
}
.fw-b {
  font-weight: bold;
}
.cs-p {
  cursor: pointer ! important;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.w1000 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.w1024 {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.w900 {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1442px) {
  html {
    font-size: 225px;
  }
}
@media (max-width: 1282px) {
  html {
    font-size: 200px;
  }
}
@media (max-width: 1026px) {
  html {
    font-size: 160px;
  }
}
@media (max-width: 962px) {
  html {
    font-size: 150px;
  }
}
@media (max-width: 952px) {
  html {
    font-size: 148.4375px;
  }
}
@media (max-width: 902px) {
  html {
    font-size: 140.625px;
  }
}
@media (max-width: 802px) {
  html {
    font-size: 125px;
  }
}
@media (max-width: 775px) {
  html {
    font-size: 120.78125px;
  }
}
@media (max-width: 770px) {
  html {
    font-size: 120px;
  }
}
@media (max-width: 738px) {
  html {
    font-size: 115px;
  }
}
@media (max-width: 734px) {
  html {
    font-size: 114.375px;
  }
}
@media (max-width: 733px) {
  html {
    font-size: 114.21875px;
  }
}
@media (max-width: 669px) {
  html {
    font-size: 104.21875px;
  }
}
@media (max-width: 642px) {
  html {
    font-size: 100px;
  }
}
@media (max-width: 602px) {
  html {
    font-size: 93.75px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 88.75px;
  }
}
@media (max-width: 535px) {
  html {
    font-size: 83.28125px;
  }
}
@media (max-width: 437px) {
  html {
    font-size: 67.96875px;
  }
}
@media (max-width: 416px) {
  html {
    font-size: 64.6875px;
  }
}
@media (max-width: 413px) {
  html {
    font-size: 64.21875px;
  }
}
@media (max-width: 386px) {
  html {
    font-size: 60px;
  }
}
@media (max-width: 377px) {
  html {
    font-size: 58.59375px;
  }
}
@media (max-width: 362px) {
  html {
    font-size: 56.25px;
  }
}
@media (max-width: 322px) {
  html {
    font-size: 50px;
  }
}
.wrapper {
  width: 100%;
}
.main_container {
  width: 100%;
}
.header {
  width: 100%;
  background: #ffffff;
}
.header_container {
  width: 1200px;
  margin: 0px auto;
  height: auto;
  padding: 10px 0;
  height: 80px;
}
.header_left {
  float: left;
  cursor: pointer;
}
.header_left img {
  width: auto;
  height: auto;
  float: left;
}
.header_left span {
  font-size: 18px;
  color: #333333;
  height: 80px;
  line-height: 80px;
  margin-left: 16px;
}
.header_right {
  float: right;
  margin-top: 24px;
}
.search {
  width: 190px;
  height: 30px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: right;
  margin-right: 20px;
  border-radius: 20px;
}
.search input.search_import {
  width: 142px;
  border: none;
  height: 25px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 1px;
  float: left;
  color: #333333;
}
span.search_btn {
  width: 24px;
  height: 27px;
  float: left;
}
span.search_btn i {
  display: inline-block;
  font-size: 27px;
  margin-top: 3px;
  color: #b9b9b9;
  cursor: pointer;
}
.header_msg {
  float: right;
  height: 30px;
}
.header_msg span.tips01 {
  display: inline-block;
  font-size: 14px;
  color: #333333;
  line-height: 30px;
  float: left;
}
.header_msg span.tips02 {
  display: inline-block;
  width: 60px;
  height: 24px;
  border-radius: 10px;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 16px;
  float: left;
  cursor: pointer;
}
.header_msg .icon-weChat {
  float: left;
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 15px;
  color: #ffffff;
  border-radius: 50%;
  margin-left: 11px;
  background: #c7c8c9;
  margin-top: 3px;
  padding-left: 3px;
  padding-top: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}
.header_msg .icon-qq {
  float: left;
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 15px;
  color: #ffffff;
  border-radius: 50%;
  margin-left: 11px;
  background: #c7c8c9;
  margin-top: 3px;
  padding-left: 4.5px;
  padding-top: 4.5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}
.login_box {
  float: right;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  width: 200px;
}
.login_first {
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
}
.login_first span.tips01 {
  display: inline-block;
  height: 30px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  width: 40px;
  float: left;
}
.login_first span.fast_login_msg {
  display: inline-block;
  height: 30px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  overflow: hidden;
  width: 110px;
  white-space: nowrap;
  text-overflow: clip;
  float: left;
}
.login_first i {
  display: inline-block;
  font-size: 26px;
  float: left;
  margin-top: 2px;
  margin-left: 10px;
}
.login_list {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 50px;
  top: 30px;
  z-index: 12;
  background: #ffffff;
  display: none;
}
.login_list ul {
  margin-top: 12px;
}
.login_list ul li {
  width: 140px;
  height: 28px;
  line-height: 28px;
  float: left;
}
.login_list ul li a {
  display: inline-block;
  width: 140px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #333333;
  text-align: center;
  cursor: pointer;
}
.login_list ul li span.notice_number {
  display: inline-block;
  border-radius: 50%;
  background: #ff6060;
  color: #ffffff;
  float: left;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  top: 42px;
  left: 105px;
  position: absolute;
  padding: 2px 7px;
}
.footers01 {
  width: 100%;
  height: 260px;
  background: url("../../images/v3_1template/footer_bg.jpg") 0 100% no-repeat;
}
.footers_container01 {
  width: 1200px;
  height: 260px;
  margin: 0px auto;
  position: relative;
}
.footer_msg_right01 {
  height: auto;
  position: absolute;
  z-index: 1000;
  left: 0px;
}
.footer_msg_right01 h4 {
  width: 128px;
  height: 38px;
  border-bottom: 1px solid #65728f;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 26px;
  text-align: left;
  line-height: 38px;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
.footer_msg_right01 img.mobile_code_footer_right {
  width: auto;
  height: 140px;
  top: 84px;
  cursor: pointer;
  margin-top: 20px;
}
.footer_msg_right01 img.mobile_code_footer_right01 {
  position: absolute;
  top: -262px;
  left: 0px;
  display: none;
  z-index: 1000;
  height: 280px;
  width: auto;
}
.footer_msg_center01 {
  width: 298px;
  position: absolute;
  height: auto;
  left: 363px;
}
.footer_msg_center01 span.mobile01 {
  display: inline-block;
  width: 298px;
  height: 38px;
  border-bottom: 1px solid #65728f;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 26px;
  text-align: left;
  line-height: 38px;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer_msg_center01 span.mobile {
  display: inline-block;
  width: 298px;
  line-height: 24px;
  color: #ffffff;
  font-size: 12px;
}
.footer_msg_left01 {
  position: absolute;
  width: 325px;
  height: auto;
  right: 0px;
}
.footer_msg_left01 span.mobile_msg01 {
  display: inline-block;
  width: 325px;
  height: 38px;
  border-bottom: 1px solid #65728f;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 26px;
  text-align: left;
  line-height: 38px;
  font-size: 18px;
  color: #ffffff;
}
.footer_msg_left01 ul {
  margin-top: 15px;
}
.footer_msg_left01 ul li {
  float: left;
}
.footer_msg_left01 ul li a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-right: 30px;
  color: #ffffff;
  cursor: pointer;
}
.v3footer_copyright {
  width: 100%;
  height: 67px;
  background: #009357;
  color: #ffffff;
}
.v3footer_copyright_msg01 {
  display: inline-block;
  width: 100%;
  height: 24px;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px;
  color: #ffffff;
  line-height: 24px;
}
.v3footer_copyright_msg02 {
  display: inline-block;
  width: 100%;
  height: 24px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}
.v3footer_copyright_msg02 a.v3beian {
  color: #ffffff;
  cursor: pointer;
}
.v3footer_copyright_msg02 a.v3footer_zhaoban {
  color: #ffffff;
  cursor: pointer;
}
#toTop {
  position: fixed;
  bottom: 55px;
  right: 3%;
  width: 40px;
  height: 40px;
  background-color: #666;
  text-align: center;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
#toTop img {
  height: 22px;
  margin-top: 9px;
}
.float_box {
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 1000;
}
.floatItem01 {
  margin: 5px 0;
  position: relative;
}
.floatItem01 span {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 26px;
  color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 7px 7px;
  cursor: pointer;
}
.floatItem02 {
  margin: 5px 0;
  position: relative;
}
.floatItem02 span.float_codeIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 26px;
  color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 7px 7px;
  cursor: pointer;
}
.floatItem02 .float_codeMsg {
  position: absolute;
  right: 60px;
  top: -55px;
  border: 1px solid #d9d9d9;
  display: none;
}
.floatItem02 .float_codeMsg span {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  right: -25px;
  top: 63px;
}
.floatItem02 .float_codeMsg img {
  width: 145px;
  height: 145px;
}
.floatItem03 {
  margin: 5px 0;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 26px;
  color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 7px 7px;
  cursor: pointer;
}
.advice_box {
  width: 450px;
  height: 100px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -50px;
  background: #d8e8fe;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: none;
}
.advice_box .error_icon {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 50%;
}
.advice_box .contents {
  float: left;
  margin-left: 30px;
}
.advice_box .contents .tips01 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-top: 20px;
}
.advice_box .contents .tips02 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.advice_box .contents .tips01 .mag02 {
  text-decoration: underline;
  cursor: pointer;
}
.advice_box .contents .tips02 .mag02 {
  text-decoration: underline;
  cursor: pointer;
}
.advice_box01 {
  width: 450px;
  height: 100px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -50px;
  background: #d8e8fe;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: none;
}
.advice_box01 .error_icon01 {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 50%;
}
.advice_box01 .contents01 {
  float: left;
  margin-left: 30px;
}
.advice_box01 .contents01 .v3tips01 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-top: 20px;
}
.advice_box01 .contents01 .v3tips02 {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.advice_box01 .contents01 .v3tips01 .v3mag02 {
  text-decoration: underline;
  cursor: pointer;
}
.advice_box01 .contents01 .v3tips02 .v3mag02 {
  text-decoration: underline;
  cursor: pointer;
}
.new_footer {
  width: 100%;
  height: 84px;
  overflow: hidden;
  background: #fafafa;
}
.new_footer_container {
  width: 1200px;
  height: 84px;
  border-top: 1px solid #ebebeb;
  margin: 0px auto;
}
.new_footer_container span.msg01 {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  border-right: 1px solid #777777;
  padding-right: 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 380px;
  margin-top: 34px;
}
.new_footer_container span.msg02 {
  display: inline-block;
  margin-left: 6px;
}
span.footer_copyright_msg01 {
  float: left;
  color: #a3a3a3;
  line-height: 72px;
  font-size: 14px;
}
span.footer_copyright_msg02 {
  float: left;
  color: #a3a3a3;
  line-height: 72px;
  font-size: 14px;
}
span.footer_copyright_msg04 {
  display: inline-block;
  width: 2px;
  height: 14px;
  background: #a3a3a3;
  margin-left: 15px;
  margin-top: 29px;
  float: left;
}
span.footer_copyright_msg03 {
  float: left;
  margin-left: 15px;
  color: #a3a3a3;
  line-height: 72px;
  font-size: 14px;
}
a.footer_gongan {
  display: inline-block;
  height: 72px;
  line-height: 72px;
  width: auto;
  float: left;
  margin-left: 10px;
  color: #a3a3a3;
}
a.footer_zhaoban {
  display: inline-block;
  height: 72px;
  line-height: 72px;
  color: #a3a3a3;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}
