html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
img {
  border: none;
}
p {
  margin-bottom: 0;
}
element {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body,
a,
input,
button {
  font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";
  font-size: 14px;
  outline: none;
  color: #000000;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
table {
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th {
  text-align: center;
  vertical-align: middle;
}
/*通用*/
.flt {
  float: left;
}
.frt {
  float: right;
}
.clr {
  clear: both;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt5-i {
  margin-top: 5px ! important;
}
.mt10-i {
  margin-top: 10px ! important;
}
.mt15-i {
  margin-top: 15px ! important;
}
.mt20-i {
  margin-top: 20px ! important;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb5-i {
  margin-bottom: 5px ! important;
}
.mb10-i {
  margin-bottom: 10px ! important;
}
.mb15-i {
  margin-bottom: 15px ! important;
}
.mb20-i {
  margin-bottom: 20px ! important;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml5-i {
  margin-left: 5px ! important;
}
.ml10-i {
  margin-left: 10px ! important;
}
.ml15-i {
  margin-left: 15px ! important;
}
.ml20-i {
  margin-left: 20px ! important;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr5-i {
  margin-right: 5px ! important;
}
.mr10-i {
  margin-right: 10px ! important;
}
.mr15-i {
  margin-right: 15px ! important;
}
.mr20-i {
  margin-right: 20px ! important;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt5-i {
  padding-top: 5px ! important;
}
.pt10-i {
  padding-top: 10px ! important;
}
.pt15-i {
  padding-top: 15px ! important;
}
.pt20-i {
  padding-top: 20px ! important;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb5-i {
  padding-bottom: 5px ! important;
}
.pb10-i {
  padding-bottom: 10px ! important;
}
.pb15-i {
  padding-bottom: 15px ! important;
}
.pb20-i {
  padding-bottom: 20px ! important;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr5-i {
  padding-right: 5px ! important;
}
.pr10-i {
  padding-right: 10px ! important;
}
.pr15-i {
  padding-right: 15px ! important;
}
.pr20-i {
  padding-right: 20px ! important;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl5-i {
  padding-left: 5px ! important;
}
.pl10-i {
  padding-left: 10px ! important;
}
.pl15-i {
  padding-left: 15px ! important;
}
.pl20-i {
  padding-left: 20px ! important;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fz12 {
  font-size: 12px ! important;
}
.fz14 {
  font-size: 14px ! important;
}
.fz16 {
  font-size: 16px ! important;
}
.fz18 {
  font-size: 18px ! important;
}
.pre {
  position: relative ! important;
}
.c-w {
  color: #fff;
}
.c-b {
  color: #000;
}
.c-9 {
  color: #999;
}
.c-6 {
  color: #666;
}
.c-3 {
  color: #333;
}
.c-w-i {
  color: #fff ! important;
}
.c-b-i {
  color: #000 ! important;
}
.c-9-i {
  color: #999 ! important;
}
.c-6-i {
  color: #666 ! important;
}
.c-3-i {
  color: #333 ! important;
}
.t-c {
  text-align: center;
}
.t-c-i {
  text-align: center ! important;
}
.l-c {
  vertical-align: middle;
}
.l-c-i {
  vertical-align: middle ! important;
}
.bz-bb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.bz-cb {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.bc-w {
  background: #fff;
}
.bc-w-i {
  background: #fff ! important;
}
.fw-in {
  font-weight: inherit ! important;
}
.fw-b {
  font-weight: bold;
}
.cs-p {
  cursor: pointer ! important;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.w1000 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.w1024 {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.w900 {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1442px) {
  html {
    font-size: 225px;
  }
}
@media (max-width: 1282px) {
  html {
    font-size: 200px;
  }
}
@media (max-width: 1026px) {
  html {
    font-size: 160px;
  }
}
@media (max-width: 962px) {
  html {
    font-size: 150px;
  }
}
@media (max-width: 952px) {
  html {
    font-size: 148.4375px;
  }
}
@media (max-width: 902px) {
  html {
    font-size: 140.625px;
  }
}
@media (max-width: 802px) {
  html {
    font-size: 125px;
  }
}
@media (max-width: 775px) {
  html {
    font-size: 120.78125px;
  }
}
@media (max-width: 770px) {
  html {
    font-size: 120px;
  }
}
@media (max-width: 738px) {
  html {
    font-size: 115px;
  }
}
@media (max-width: 734px) {
  html {
    font-size: 114.375px;
  }
}
@media (max-width: 733px) {
  html {
    font-size: 114.21875px;
  }
}
@media (max-width: 669px) {
  html {
    font-size: 104.21875px;
  }
}
@media (max-width: 642px) {
  html {
    font-size: 100px;
  }
}
@media (max-width: 602px) {
  html {
    font-size: 93.75px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 88.75px;
  }
}
@media (max-width: 535px) {
  html {
    font-size: 83.28125px;
  }
}
@media (max-width: 437px) {
  html {
    font-size: 67.96875px;
  }
}
@media (max-width: 416px) {
  html {
    font-size: 64.6875px;
  }
}
@media (max-width: 413px) {
  html {
    font-size: 64.21875px;
  }
}
@media (max-width: 386px) {
  html {
    font-size: 60px;
  }
}
@media (max-width: 377px) {
  html {
    font-size: 58.59375px;
  }
}
@media (max-width: 362px) {
  html {
    font-size: 56.25px;
  }
}
@media (max-width: 322px) {
  html {
    font-size: 50px;
  }
}
.themeBlue .themeBlueBackgroundColor {
  background: #00B7FF!important;
  color: #ffffff!important;
}
.themeBlue .themeBlueColor {
  color: #00B7FF!important;
}
.themeBackgroundColor {
  background: #00B7FF;
}
.themeBackColor {
  color: #00B7FF;
}
.themeColor {
  color: #ff774e;
}
#cobaltBlue .themeColor {
  color: #018fa3;
}
#cobaltBlue .themeBackgroundColor {
  background-color: #018fa3;
}
#cobaltBlue .themeBorderBottom {
  border-bottom: 1px solid #018fa3;
}
#cobaltBlue .themeBorderBottom2 {
  border-bottom: 2px solid #018fa3;
}
#cobaltBlue .themeBorder {
  border: 1px solid #018fa3;
}
#cobaltBlue .themeBottomColor {
  border-bottom-color: #018fa3 !important;
}
#cobaltBlue .themeDarkBg {
  background-color: #047D8E;
}
#cobaltBlue .themeDarkColor {
  color: #047D8E;
}
#cobaltBlue .themeBackgroundColorRgba {
  background: rgba(1, 143, 163, 0.8);
  background-color: #018fa3\9;
}
#cobaltBlue .themeNavBg {
  background: url("../../images/v4_1template/cobaltBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/cobaltBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/cobaltBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#cobaltBlue .themeSecondNavBg {
  background: url("../../images/v4_1template/cobaltBlue_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/cobaltBlue_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/cobaltBlue_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#cobaltBlue .themeTopBg {
  background: url("../../images/v3_1template/top_cobaltBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_cobaltBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_cobaltBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#cobaltBlue .themeBottomBg {
  background: url("../../images/v3_1template/bottom_cobaltBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_cobaltBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_cobaltBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#cobaltBlue .themeNavBaise {
  background: url("../../images/v3_1template/cobaltBlue_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/cobaltBlue_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/cobaltBlue_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#cobaltBlue .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color6.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#cobaltBlue .themeMenuHead {
  background: url(../../images/v4template/head4.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head8.png', sizingMethod='scale');
}
#peacockBlue .themeColor {
  color: #01a4c5;
}
#peacockBlue .themeBackgroundColor {
  background-color: #01a4c5;
}
#peacockBlue .themeBorderBottom {
  border-bottom: 1px solid #01a4c5;
}
#peacockBlue .themeBorderBottom2 {
  border-bottom: 2px solid #01a4c5;
}
#peacockBlue .themeBorder {
  border: 1px solid #01a4c5;
}
#peacockBlue .themeBottomColor {
  border-bottom-color: #01a4c5 !important;
}
#peacockBlue .themeDarkBg {
  background-color: #078FAA;
}
#peacockBlue .themeDarkColor {
  color: #078FAA;
}
#peacockBlue .themeBackgroundColorRgba {
  background: rgba(1, 164, 197, 0.8);
  background-color: #01a4c5\9;
}
#peacockBlue .themeNavBg {
  background: url("../../images/v4_1template/peacockBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/peacockBlue.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/peacockBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#peacockBlue .themeSecondNavBg {
  background: url("../../images/v4_1template/peacockBlue_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/peacockBlue_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/peacockBlue_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#peacockBlue .themeTopBg {
  background: url("../../images/v3_1template/top_peacockBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_peacockBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_peacockBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#peacockBlue .themeBottomBg {
  background: url("../../images/v3_1template/bottom_peacockBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_peacockBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_peacockBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#peacockBlue .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color7.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#peacockBlue .themeMenuHead {
  background: url(../../images/v4template/head8.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head8.png', sizingMethod='scale');
}
#peacockBlue .themeNavBaise {
  background: url("../../images/v3_1template/peacockBlue_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/peacockBlue_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/peacockBlue_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#glazedBlue .themeColor {
  color: #1d50a2;
}
#glazedBlue .themeBackgroundColor {
  background-color: #1d50a2;
}
#glazedBlue .themeBorderBottom {
  border-bottom: 1px solid #1d50a2;
}
#glazedBlue .themeBorderBottom2 {
  border-bottom: 2px solid #1d50a2;
}
#glazedBlue .themeBorder {
  border: 1px solid #1d50a2;
}
#glazedBlue .themeBottomColor {
  border-bottom-color: #1d50a2 !important;
}
#glazedBlue .themeDarkBg {
  background-color: #185ECF;
}
#glazedBlue .themeDarkColor {
  color: #185ECF;
}
#glazedBlue .themeBackgroundColorRgba {
  background: rgba(29, 80, 162, 0.8);
  background-color: #1d50a2\9;
}
#glazedBlue .themeNavBg {
  background: url("../../images/v4_1template/glazedBlue.png") center no-repeat 100% 100%;
  background: url("../../images/v4_1template/glazedBlue.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/glazedBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#glazedBlue .themeSecondNavBg {
  background: url("../../images/v4_1template/glazedBlue_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/glazedBlue_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/glazedBlue_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#glazedBlue .themeTopBg {
  background: url("../../images/v3_1template/top_glazedBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_glazedBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_glazedBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#glazedBlue .themeBottomBg {
  background: url("../../images/v3_1template/bottom_glazedBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_glazedBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_glazedBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#glazedBlue .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color8.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#glazedBlue .themeMenuHead {
  background: url(../../images/v4template/head7.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head7.png', sizingMethod='scale');
}
#glazedBlue .themeNavBaise {
  background: url("../../images/v3_1template/glazedBlue_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/glazedBlue_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/glazedBlue_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#blackishGreen .themeColor {
  color: #024235;
}
#blackishGreen .themeBackgroundColor {
  background-color: #024235;
}
#blackishGreen .themeBorderBottom {
  border-bottom: 1px solid #024235;
}
#blackishGreen .themeBorderBottom2 {
  border-bottom: 2px solid #024235;
}
#blackishGreen .themeBorder {
  border: 1px solid #024235;
}
#blackishGreen .themeBottomColor {
  border-bottom-color: #024235 !important;
}
#blackishGreen .themeDarkBg {
  background-color: #078252;
}
#blackishGreen .themeDarkColor {
  color: #078252;
}
#blackishGreen .themeBackgroundColorRgba {
  background: rgba(2, 66, 53, 0.8);
  background-color: #024235\9;
}
#blackishGreen .themeNavBg {
  background: url("../../images/v4_1template/blackishGreen.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/blackishGreen.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/blackishGreen.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#blackishGreen .themeSecondNavBg {
  background: url("../../images/v4_1template/blackishGreen_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/blackishGreen_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/blackishGreen_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#blackishGreen .themeTopBg {
  background: url("../../images/v3_1template/top_blackishGreen.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_blackishGreen.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_blackishGreen.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#blackishGreen .themeBottomBg {
  background: url("../../images/v3_1template/bottom_blackishGreen.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_blackishGreen.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_blackishGreen.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#blackishGreen .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color5.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#blackishGreen .themeMenuHead {
  background: url(../../images/v4template/head6.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head6.png', sizingMethod='scale');
}
#blackishGreen .themeNavBaise {
  background: url("../../images/v3_1template/blackishGreen_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/blackishGreen_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/blackishGreen_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#tenderGreen .themeColor {
  color: #76a32d;
}
#tenderGreen .themeBackgroundColor {
  background-color: #76a32d;
}
#tenderGreen .themeBorderBottom {
  border-bottom: 1px solid #76a32d;
}
#tenderGreen .themeBorderBottom2 {
  border-bottom: 2px solid #76a32d;
}
#tenderGreen .themeBorder {
  border: 1px solid #76a32d;
}
#tenderGreen .themeBottomColor {
  border-bottom-color: #76a32d !important;
}
#tenderGreen .themeDarkBg {
  background-color: #638C21;
}
#tenderGreen .themeDarkColor {
  color: #638C21;
}
#tenderGreen .themeBackgroundColorRgba {
  background: rgba(118, 163, 45, 0.8);
  background-color: #76a32d\9;
}
#tenderGreen .themeNavBg {
  background: url("../../images/v4_1template/tenderGreen.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/tenderGreen.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/tenderGreen.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#tenderGreen .themeSecondNavBg {
  background: url("../../images/v4_1template/tenderGreen_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/tenderGreen_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/tenderGreen_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#tenderGreen .themeTopBg {
  background: url("../../images/v3_1template/top_tenderGreen.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_tenderGreen.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_tenderGreen.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#tenderGreen .themeBottomBg {
  background: url("../../images/v3_1template/bottom_tenderGreen.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_tenderGreen.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_tenderGreen.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#tenderGreen .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color4.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#tenderGreen .themeMenuHead {
  background: url(../../images/v4template/head2.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head2.png', sizingMethod='scale');
}
#tenderGreen .themeNavBaise {
  background: url("../../images/v3_1template/tenderGreen_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/tenderGreen_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/tenderGreen_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#brightRed .themeColor {
  color: #c8161d;
}
#brightRed .themeBackgroundColor {
  background-color: #c8161d;
}
#brightRed .themeBorderBottom {
  border-bottom: 1px solid #c8161d;
}
#brightRed .themeBorderBottom2 {
  border-bottom: 2px solid #c8161d;
}
#brightRed .themeBorder {
  border: 1px solid #c8161d;
}
#brightRed .themeBottomColor {
  border-bottom-color: #c8161d !important;
}
#brightRed .themeDarkBg {
  background-color: #AF171D;
}
#brightRed .themeDarkColor {
  color: #AF171D;
}
#brightRed .themeBackgroundColorRgba {
  background: rgba(200, 22, 29, 0.8);
  background-color: #c8161d\9;
}
#brightRed .themeNavBg {
  background: url("../../images/v4_1template/brightGreen.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/brightGreen.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/brightGreen.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#brightRed .themeSecondNavBg {
  background: url("../../images/v4_1template/brightRed_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/brightRed_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/brightRed_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#brightRed .themeTopBg {
  background: url("../../images/v3_1template/top_brightRed.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_brightRed.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_brightRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#brightRed .themeBottomBg {
  background: url("../../images/v3_1template/bottom_brightRed.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_brightRed.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_brightRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#brightRed .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color2.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#brightRed .themeMenuHead {
  background: url(../../images/v4template/head9.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head9.png', sizingMethod='scale');
}
#brightRed .themeNavBaise {
  background: url("../../images/v3_1template/brightRed_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/brightRed_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/brightRed_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#deepRed .themeColor {
  color: #c24631;
}
#deepRed .themeBackgroundColor {
  background-color: #c24631;
}
#deepRed .themeBorderBottom {
  border-bottom: 1px solid #c24631;
}
#deepRed .themeBorderBottom2 {
  border-bottom: 2px solid #c24631;
}
#deepRed .themeBorder {
  border: 1px solid #c24631;
}
#deepRed .themeBottomColor {
  border-bottom-color: #c24631 !important;
}
#deepRed .themeDarkBg {
  background-color: #A33321;
}
#deepRed .themeDarkColor {
  color: #A33321;
}
#deepRed .themeBackgroundColorRgba {
  background: rgba(194, 70, 49, 0.8);
  background-color: #c24631\9;
}
#deepRed .themeNavBg {
  background: url("../../images/v4_1template/deepRed.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/deepRed.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/deepRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#deepRed .themeSecondNavBg {
  background: url("../../images/v4_1template/deepRed_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/deepRed_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/deepRed_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#deepRed .themeTopBg {
  background: url("../../images/v3_1template/top_deepRed.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_deepRed.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_deepRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#deepRed .themeBottomBg {
  background: url("../../images/v3_1template/bottom_deepRed.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_deepRed.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_deepRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#deepRed .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color1.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#deepRed .themeMenuHead {
  background: url(../../images/v4template/head10.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head10.png', sizingMethod='scale');
}
#deepRed .themeNavBaise {
  background: url("../../images/v3_1template/deepRed_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/deepRed_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/deepRed_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#skyBlue .themeColor {
  color: #369de4;
}
#skyBlue .themeBackgroundColor {
  background-color: #369de4;
}
#skyBlue .themeBorderBottom {
  border-bottom: 1px solid #369de4;
}
#skyBlue .themeBorderBottom2 {
  border-bottom: 2px solid #369de4;
}
#skyBlue .themeBorder {
  border: 1px solid #369de4;
}
#skyBlue .themeBottomColor {
  border-bottom-color: #369de4 !important;
}
#skyBlue .themeDarkBg {
  background-color: #185ECF;
}
#skyBlue .themeDarkColor {
  color: #185ECF;
}
#skyBlue .themeBackgroundColorRgba {
  background: rgba(54, 157, 228, 0.8);
  background-color: #369de4\9;
}
#skyBlue .themeNavBg {
  background: url("../../images/v4_1template/skyBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/skyBlue.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/skyBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#skyBlue .themeSecondNavBg {
  background: url("../../images/v4_1template/skyBlue_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/skyBlue_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/skyBlue_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#skyBlue .themeTopBg {
  background: url("../../images/v3_1template/top_skyBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_skyBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_skyBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#skyBlue .themeBottomBg {
  background: url("../../images/v3_1template/bottom_skyBlue.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_skyBlue.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_skyBlue.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#skyBlue .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color8.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#skyBlue .themeMenuHead {
  background: url(../../images/v4template/head5.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head5.png', sizingMethod='scale');
}
#skyBlue .themeNavBaise {
  background: url("../../images/v3_1template/skyBlue_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/skyBlue_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/skyBlue_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#sunOrange .themeColor {
  color: #f18d00;
}
#sunOrange .themeBackgroundColor {
  background-color: #f18d00;
}
#sunOrange .themeBorderBottom {
  border-bottom: 1px solid #f18d00;
}
#sunOrange .themeBorderBottom2 {
  border-bottom: 2px solid #f18d00;
}
#sunOrange .themeBorder {
  border: 1px solid #f18d00;
}
#sunOrange .themeBottomColor {
  border-bottom-color: #f18d00 !important;
}
#sunOrange .themeDarkBg {
  background-color: #F16600;
}
#sunOrange .themeDarkColor {
  color: #F16600;
}
#sunOrange .themeBackgroundColorRgba {
  background: rgba(241, 141, 0, 0.8);
  background-color: #f18d00\9;
}
#sunOrange .themeNavBg {
  background: url("../../images/v4_1template/sunOrange.png") center no-repeat / 100% 100%;
  background: url("../../images/v4_1template/sunOrange.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/sunOrange.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#sunOrange .themeSecondNavBg {
  background: url("../../images/v4_1template/sunOrange_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/sunOrange_secondNav.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/sunOrange_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#sunOrange .themeTopBg {
  background: url("../../images/v3_1template/top_sunOrange.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_sunOrange.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_sunOrange.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#sunOrange .themeBottomBg {
  background: url("../../images/v3_1template/bottom_sunOrange.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_sunOrange.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_sunOrange.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
/*#sunOrange .themeBackgroundImage{*/
/*background-image:url(../../images/v4template/color3.png);*/
/*background-position:0 0;*/
/*background-repeat:no-repeat;*/
/*background-size:100% 100%;*/
/*}*/
#sunOrange .themeMenuHead {
  background: url(../../images/v4template/head1.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head1.png', sizingMethod='scale');
}
#sunOrange .themeNavBaise {
  background: url("../../images/v3_1template/sunOrange_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/sunOrange_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/sunOrange_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#green .themeColor {
  color: #05955d;
}
#green .themeBackgroundColor {
  background-color: #05955d;
}
#green .themeBorderBottom {
  border-bottom: 1px solid #05955d;
}
#green .themeBorderBottom2 {
  border-bottom: 2px solid #05955d;
}
#green .themeBorder {
  border: 1px solid #05955d;
}
#green .themeBottomColor {
  border-bottom-color: #05955d !important;
}
#green .themeDarkBg {
  background-color: #218F64;
}
#green .themeDarkColor {
  color: #218F64;
}
#green .themeBackgroundColorRgba {
  background: rgba(5, 149, 93, 0.8);
  background-color: #05955d\9;
}
#green .themeNavBg {
  background: url("../../images/v4_1template/green.png") center no-repeat / 100% 86px;
  background: url("../../images/v4_1template/green.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/green.png');
  background: none\0;
  *background: none;
}
#green .themeSecondNavBg {
  background: url("../../images/v4_1template/green_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/green_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/green_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#green .themeMenuHead {
  background: url(../../images/v4template/head3.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head3.png', sizingMethod='scale');
}
#green .themeTopBg {
  background: url("../../images/v3_1template/top_green.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_green.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_green.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#green .themeBottomBg {
  background: url("../../images/v3_1template/bottom_green.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_green.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_green.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#green .themeNavBaise {
  background: url("../../images/v3_1template/green_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/green_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/green_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#ChinaRed .themeColor {
  color: #d7000f;
}
#ChinaRed .themeBackgroundColor {
  background-color: #d7000f;
}
#ChinaRed .themeBorderBottom {
  border-bottom: 1px solid #d7000f;
}
#ChinaRed .themeBorderBottom2 {
  border-bottom: 2px solid #d7000f;
}
#ChinaRed .themeBorder {
  border: 1px solid #d7000f;
}
#ChinaRed .themeBottomColor {
  border-bottom-color: #d7000f !important;
}
#ChinaRed .themeDarkBg {
  background-color: #aa2236;
}
#ChinaRed .themeDarkColor {
  color: #aa2236;
}
#ChinaRed .themeBackgroundColorRgba {
  background: rgba(215, 0, 15, 0.8);
  background-color: #d7000f\9;
}
#ChinaRed .themeNavBg {
  background: url("../../images/v4_1template/ChinaRed.png") center no-repeat / 100% 86px;
  background: url("../../images/v4_1template/ChinaRed.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/ChinaRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#ChinaRed .themeSecondNavBg {
  background: url("../../images/v4_1template/ChinaRed_secondNav.png") center repeat-x / 80% 100%;
  background: url("../../images/v4_1template/ChinaRed_secondNav.png") 0 0 repeat-x;
  background-size: 80% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/ChinaRed_secondNav.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#ChinaRed .themeTopBg {
  background: url("../../images/v3_1template/top_ChinaRed.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_ChinaRed.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_ChinaRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#ChinaRed .themeBottomBg {
  background: url("../../images/v3_1template/bottom_ChinaRed.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_ChinaRed.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_ChinaRed.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
#ChinaRed .themeMenuHead {
  background: url(../../images/v4template/chineseRed.png) 0 0 no-repeat;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/chineseRed.png', sizingMethod='scale');
}
#ChinaRed .themeNavBaise {
  background: url("../../images/v3_1template/ChinaRed_baise.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/ChinaRed_baise.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/ChinaRed_baise', sizingMethod='scale');
  background: none\0;
  *background: none;
}
.gregBgTop {
  background: url("../../images/v3_1template/top_theme.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/top_theme.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/top_theme.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
.greyBgBottom {
  background: url("../../images/v3_1template/bottom_theme.png") center no-repeat / 100% 100%;
  background: url("../../images/v3_1template/bottom_theme.png") 0 0 repeat-x;
  background-size: 100% 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v3_1template/bottom_theme.png', sizingMethod='scale');
  background: none\0;
  *background: none;
}
