.article-content
    padding 1em
    border-top 1px solid #EEE

.article-attach
    padding 1em 0
    
.article-content,
.article-attach
    overflow auto

    img
        max-width 100%
        height auto !important;

    table
        max-width 100%