div(class="new_footer")
   div(class="new_footer_container")
      span(class="footer_copyright_msg01") ©版权所有：#{schoolInfo.name}  • 北京闻道卓越教育科技有限公司技术支持
      span(class="footer_copyright_msg02") Copyright 2017 ALL Rights Reserved
      span(class="footer_copyright_msg04")
      span(class="footer_copyright_msg03") 京ICP备16030849号
      a(class="footer_gongan",style="width:auto;text-decoration:none;",target="_blank",href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802024129")
         img(src="#{locals.global.api_sever_url}/static/image/anbei.png")
         | 京公网安备 11010802024129号
      a(class="footer_zhaoban") 招办管理
script.
   $(".footer_zhaoban").click(function(){
      var url = "http://www.zhinengdayi.com";
      window.open(url);
   });


