@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?25yoyd');
  src:  url('fonts/icomoon.eot?25yoyd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?25yoyd') format('truetype'),
    url('fonts/icomoon.woff?25yoyd') format('woff'),
    url('fonts/icomoon.svg?25yoyd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banshizhinan:before {
  content: "\e900";
  color: #1296db;
}
.icon-baoxiao:before {
  content: "\e901";
}
.icon-baoxiaodan:before {
  content: "\e902";
}
.icon-bumendongtai:before {
  content: "\e903";
}
.icon-caiwu:before {
  content: "\e904";
}
.icon-caiwu2:before {
  content: "\e905";
}
.icon-caiwu3:before {
  content: "\e906";
}
.icon-caiwu4:before {
  content: "\e907";
}
.icon-caiwufuben:before {
  content: "\e908";
}
.icon-caiwutongzhi:before {
  content: "\e909";
}
.icon-caiwuxitong:before {
  content: "\e90a";
}
.icon-cha:before {
  content: "\e90b";
}
.icon-chailvfei:before {
  content: "\e90c";
}
.icon-chuguohuanhui:before {
  content: "\e90d";
  color: #f39826;
}
.icon-fabushijian:before {
  content: "\e90e";
}
.icon-gengduo:before {
  content: "\e90f";
}
.icon-gongwuka:before {
  content: "\e910";
}
.icon-gongzi:before {
  content: "\e911";
}
.icon-gongzikabanli:before {
  content: "\e912";
}
.icon-gou:before {
  content: "\e913";
}
.icon-guanli:before {
  content: "\e914";
}
.icon-guanli2:before {
  content: "\e915";
}
.icon-guanli3:before {
  content: "\e916";
}
.icon-guanli4:before {
  content: "\e917";
}
.icon-guanli5:before {
  content: "\e918";
}
.icon-guanlifei:before {
  content: "\e919";
}
.icon-huatong:before {
  content: "\e91a";
}
.icon-jia:before {
  content: "\e91b";
}
.icon-jian:before {
  content: "\e91c";
}
.icon-jiancha:before {
  content: "\e91d";
}
.icon-jiangjin:before {
  content: "\e91e";
}
.icon-jingfei:before {
  content: "\e91f";
}
.icon-kuaijiesousuo:before {
  content: "\e920";
}
.icon-laowuchoujin:before {
  content: "\e921";
}
.icon-liulan:before {
  content: "\e922";
}
.icon-next:before {
  content: "\e923";
}
.icon-nonedata:before {
  content: "\e924";
}
.icon-piaoju:before {
  content: "\e925";
}
.icon-prev:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e927";
}
.icon-shoucang:before {
  content: "\e928";
}
.icon-shuiwushenbao:before {
  content: "\e929";
}
.icon-tongzhi:before {
  content: "\e92a";
}
.icon-waihuibeian:before {
  content: "\e92b";
}
.icon-xiajiantou:before {
  content: "\e92c";
}
.icon-xianjinbaoxiao:before {
  content: "\e92d";
}
.icon-xiazai:before {
  content: "\e92e";
}
.icon-xinwen:before {
  content: "\e92f";
  color: #919191;
}
.icon-xinxigongkai:before {
  content: "\e930";
}
.icon-yuyin:before {
  content: "\e931";
}
.icon-zhuye:before {
  content: "\e932";
}
.icon-zuojiantou:before {
  content: "\e933";
}
