//
   Created by abbydu on 17/7/26.

extends ../components/layout02
block content
    div(class="modify")
        div(class="modify_container")
            div(class="modify_title") 修改密码
            div(class="modify_content")
                //邮箱地址
                div(class="modify_email")
                    span(class="email_tips01") 邮箱:
                    input(class="modify_email_input",type="text",placeholder="请输入注册时的邮箱号")

                // 验证码
                div(class="modify_code")
                    span(class="code_tips01") 验证码:
                    input(class="modify_code_input",type="text",placeholder="请输入6位验证码")
                    a(class="modify_code_send",id="modify_code_send",style="background:#{themeColor}") 发送验证码
                div(class="modify_original")
                    span(class="original_tips01") 原始密码:
                    input(type="password",class="modify_original_input",name="password",placeholder="请输入原始密码",onfocus="this.type='password'",autocomplete="off")
                div(class="modify_new")
                    span(class="modify_new_tips01") 新密码:
                    input(type="password",class="modify_new_input",name="password",placeholder="请输入新密码",onfocus="this.type='password'",autocomplete="off")
                div(class="modify_newConfirm")
                    span(class="modify_newConfirm_tips01") 确认新密码:
                    input(type="password",class="modify_newConfirm_input",name="password",placeholder="请确认新密码",onfocus="this.type='password'",autocomplete="off")
                div(class="modify_error_tips")
                div(class="modify_btnItem")
                    div(class="modify_quxiao") 取消
                    div(class="modify_btn",style="background:#{themeColor}") 确定
    script.
        function getAppServer() {
            return "";
        }
        function getApiServer() {
            return '!{locals.global.api_sever_url}'
        }
        $(function () {
            // 发送验证码点击事件
            var flag = true;
            var s;
            var i = 60;
            var modify_forget = null;
            //获取验证码
            $(".modify_code_send").unbind("click");
            $(".modify_code_send").click(function () {
                var modifyTip = $('.modify_error_tips');                  // 邮箱错误提示,
                modifyTip.html("");
                if (flag) {
                    modify_forget = $('.modify_email_input').val();       //   邮箱
                    // 用户邮箱验证
                    if (!modify_forget || modify_forget.length == 0) {
                        return modifyTip.html('请输入邮箱号');
                    }
                    if (!((/\w@\w*\.\w/).test(modify_forget))) {
                        return modifyTip.html('请输入正确的邮箱号');
                    }


                    // 首先发请求，验证该用户是否已注册。0未注册发验证码，已注册，1提示该用户已注册
                    $.ajax({
                        type: "POST",
                        url: getAppServer() + "/v5users/checkEmailIsexist_json",
                        data: {
                            'email': modify_forget
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data && data.retCode == '1') {
                                $.ajax({
                                    type: "POST",
                                    url: getAppServer() + "/v5users/v5sendVerCodeModify",
                                    data: {
                                        'codeType':"1",
                                        'email': modify_forget
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        var tipWrap = $('.modify_error_tips');
                                        if (data && data.retCode == '0') {
                                            tipWrap.html('验证码已经以邮件形式发送到您的邮箱');
                                            flag = false;
                                            $(".modify_code_send").html(" 秒后重新发送");
                                            $(".modify_code_send").html(i);
                                            $(".modify_code_send").css('opacity', '0.3')
                                            s = setInterval(function () {
                                                i--;
                                                $(".modify_code_send").html(i);
                                                if (i == 0) {
                                                    clearInterval(s);
                                                    $(".modify_code_send").css('opacity', '1');
                                                    $(".modify_code_send").html("重新获取");
                                                    flag = true;
                                                    i = 60;
                                                }
                                            }, 1000);
                                        } else {
                                            var tipWrap = $('.modify_error_tips');              // 邮箱错误提示,
                                            tipWrap.html(data.message);
                                        }
                                    }
                                })
                            } else {
                                var tipWrap = $('.modify_error_tips');              // 邮箱未注册提示
                                tipWrap.html("该邮箱未注册");
                            }
                        }
                    })
                }
            });
            // 取消按钮点击事件
            $(".modify_quxiao").click(function(){
                var sCode = $(".new_header").attr('sCode');
                var url = getAppServer() + '/page/personal/' + sCode;
                window.location.href = url;
            })
            // 确定按钮点击事件
            $(".modify_btn").click(function () {
                var modify_email = $(".modify_email_input").val()           // 邮箱
                var modify_code = $(".modify_code_input").val();            // 验证码
                var modify_oldPassword = $('.modify_original_input').val();       //   原始密码
                var modify_new = $(".modify_new_input").val();                   //  新密码
                var modify_newConfirm = $(".modify_newConfirm_input").val()         // 确认新密码
                // 错误提示
                var modifyTip = $('.modify_error_tips');

                // 用户邮箱验证
                if (!modify_email || modify_email.length == 0) {
                    return modifyTip.html('请输入邮箱号');
                }
                if (!((/\w@\w*\.\w/).test(modify_email))) {
                    return modifyTip.html('请输入正确的邮箱号');
                }
                // 密码判断
                if (!modify_code || modify_code.length == 0) {
                    return modifyTip.html('请输入验证码');
                }

                // 原始密码判断
                if (!modify_oldPassword || modify_oldPassword.length == 0) {
                    return modifyTip.html('请输入密码');
                }
                if (!((/^[0-9a-zA-Z]{6,12}$/).test(modify_oldPassword))) {
                    return modifyTip.html('请输入密码是6-12位的字母或者数字');
                }
                // 新密码判断
                if (!modify_new || modify_new.length == 0) {
                    return modifyTip.html('请输入密码');
                }
                if (!((/^[0-9a-zA-Z]{6,12}$/).test(modify_new))) {
                    return modifyTip.html('请输入密码是6-12位的字母或者数字');
                }
                // 确认新密码判断
                if (!modify_newConfirm || modify_newConfirm.length == 0) {
                    return modifyTip.html('请再次输入密码');
                }
                if (modify_newConfirm != modify_new) {
                    return modifyTip.html('两次密码输入不一致,请重新输入');
                }
                //  修改更新密码  缺少一个邮箱验证码参数valiCode
                $.ajax({
                    type: "post",
                    url: getAppServer() + "/v5users/updatePassword_json",
                    data: {
                        'password': modify_new,
                        'valiCode': modify_code,
                        'oldPassword': modify_oldPassword
                    },
                    success: function (data) {
                        // 错误提示
                        var forgetTips = $('.modify_error_tips');
                        if (data && data.retCode == '0') {
                            forgetTips.html("修改密码成功");
                        } else {
                            forgetTips.html(data.message);
                        }
                    }
                })
            });
        })

