h1{
	font-weight: normal;
}
.wp100{
	width: 100%;
}
.w710{
	width: 710px;
}
.w1000{
	width: 1000px;
}
.w182{
	width: 202px;
}
.w200{
	width: 200px;
}
.h54{
	height: 54px;
	line-height: 54px;
}
.p3040{
	padding: 30px 40px;
}
.ml8{
	margin-left: 8px;
}
.color4c{
	color: #4c4c4c;
}
.color333{
	color: #333333;
}
.color666{
	color: #666666;
}
.colora9{
	color: #a9a9a9;
}
.b-radius-3{
	border-radius: 3px;
}
.registBox{
	margin: 45px 45px 0;
	padding-bottom: 100px;
}
.QR{
	padding: 20px 0 20px 59px;
	border-left: 1px solid #dbdbdb;
}
.QR p{
	text-align: center;
}
.valErrTip, .valSucTip{
	color: #f54b31;
	padding: 5px 0;
	font-size: 14px;
	position: absolute;
	top: 68px;
	left: 0;
}
.valSucTip{
	color: #76ce46;
}
.result p{
	text-align: center;
	font-size: 16px;
	margin: 40px 0;
}
.result.suc p{
	color: #76ce46
}
.result.err p{
	color: #f54b31
}