@import "./common.scss";
.container.update-user{
    top: pxToRem(158);
}
.update-user{
    color: #666;
    padding-bottom: pxToRem(50);
    a{
        color: $themeColor;
    }
    .updateuser-container{
        font-size: pxToRem(28);
        width: 85%;
        margin: 0 auto;
        .mt45{
            margin-top: pxToRem(45);
        }
        .mt30{
            margin-top: pxToRem(30);
        }
        .tac{
            text-align: center;
        }
        .ipt{
            width: 100%;
            border: 1px solid #a0a0a0;
            height: pxToRem(68);
            line-height: pxToRem(68);
            border-radius: pxToRem(30);
            font-size: pxToRem(26);
            text-indent: pxToRem(25);
        }
        .select{
            background-color: $themeColor;
            color: #fff;
            -webkit-appearance: none;
        }
        .btn{
            width: 100%;
            height: pxToRem(68);
            line-height: pxToRem(68);
            border-radius: pxToRem(30);
            color: #fff;
            text-align: center;
            background-color: $themeColor;
            font-size: pxToRem(36);
            border: 0 none;
        }
        .btn.disabled{
            opacity: 0.5;
        }
        .ipt-wp{
            display: flex;
            align-items: center;
            .col-name{
                display: flex;
                align-items: center;
                flex: 3;
            }
            .col-ipt{
                flex: 7;
            }
        }
        .select-wp{
            .col-ipt{
                position: relative;
            }
            .icon1-pull{
                position: absolute;
                right: pxToRem(30);
                top: 0;
                line-height: pxToRem(68);
                color: #fff;

            }
        }
        .icon1-name{
            color: $themeColor;
            font-size: pxToRem(42);
            margin-right: pxToRem(10);
        }
    }
} 