@import "./common.scss";
.videoList_items {
    padding: pxToRem(30);
    .videoList_item {
        overflow: hidden;
        border-bottom: pxToRem(2) solid #ddd;
        margin-bottom: pxToRem(30);
        padding-bottom: pxToRem(30);
        .left {
            float: left;
            position: relative;
            width: pxToRem(250);
            height: pxToRem(150);
            margin-right: pxToRem(30);
            img:nth-of-type(1) {
                width: 100%;
                height: 100%;
            }
            img:nth-of-type(2) {
                position: absolute;
                left: pxToRem(100);
                top: pxToRem(45);
                width: pxToRem(55);
                height: pxToRem(55);
            }
        }
        .right {
            float: left;
            width: pxToRem(390);
            h3 {
                font-size: pxToRem(30);
                line-height: pxToRem(70);
            }
            p {
                color: #666;
                font-size: pxToRem(24);
                line-height: pxToRem(30);
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}
