.ask
    overflow hidden
    padding-bottom 1em
    background #F6F6F6
    border-bottom: 1px solid #DDD;
    vertical-align: bottom;

    .ask-title{
        padding: 1em;
        border-bottom: 1px solid #DDD;
        background #EEE
    }

    textarea
        border none
        border-radius 5px
        width 75%
        float left
        height 100px

    button
        width 20%
        border-radius 5px
        float right
        border none
        display: block;
        margin-top: 68px;
        padding 5px 0;
        background #CCC