/*全局公用样式*/
.containers{
    display:block;
    margin:0 auto;
    width:1200px;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear{
    clear:both;
}

/*页脚部分的公共样式*/
#footer{
    min-width: 1200px;
    background-color:#535353;
}
#footer *{
    color:#A3A3A3;
}
#footer .show-qrcode{
    position:relative;
}
#footer #footer-qrcode{
    width:120px;
    height:auto;
    float: left;

}
#footer #footer-qrcode h2{
    font-size: 18px;
}
#footer #footer-qrcode img{
    margin-top: 15px;
    width:120px;
    height:120px;
}

#footer .outside{
    padding:30px 0;
    border-bottom:1px solid #A3A3A3;
}
#footer_center{
    width: 600px;
    float: left;
    margin-left: 40px;

}
#friendLinks li a:hover{
    color: #ffffff;
}




#footer #footer_center h2{
    padding-left: 11px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 600px;
    font-size: 18px;
}
#footer #footer_center>ul{
    margin-top: 6px;
    width:600px;
}
#footer #footer_center>ul li{
    float:left;
    padding:4px 10px;
    font-size:14px;
}
#footer .outside>div.rt{
    width:400px;
}
#footer .outside>div.rt h2{
    font-size:18px;
}
#footer .outside>div.rt ul{
    margin-top:8px;
}
#footer .outside>div.rt li{
    line-height:24px;
    font-size:12px;
}
#footer .bottom2{
    width: 1200px;
    padding:28px 0;
    text-align:center;
}

.user-container{
    position:relative;
    color: #666666;
}
.user-menu{
    position:absolute;
    display:none;
    width: 140px;
    left:0;
    top:30px;
    background: #000000;
    opacity: 0.5;
    text-align:center;
    padding:10px 0;
    border-radius:3px;
}
.user-menu a{
    display:block;
    line-height:30px;
    color:#ffffff;
}
#personal-data{
    color:#ffffff;
}


/*页头部分样式公用*/
#header{
    position:relative;
    z-index:200;
    color:#fff;
    min-width: 1200px;
}
#header{
    color:#666666;
    text-decoration:none;
}
#header a:hover{
    text-decoration:none !important;
}
#header .icon-mobile{
    font-size:13px;
    position:relative;
    bottom:-1px;
}
#mobile-qrcode{
    position:relative;
    color: #666666;
}
#qrcode{
    display:none;
    background-color:#fff;
    width:150px;
    height:150px;
    position:absolute;
    top:28px;
    left:-50px;
}
#qrcode:before{
    content:'';
    position:absolute;
    left:72px;
    top:-12px;
    border:7px solid transparent;
    border-bottom:7px solid #fff;
}
#qrcode img{
    width:100%;
    height:100%;
}
#header .outside{
    background: #ffffff;
}
#header .containers{
    color: #666666;
}
.fast-login{
    color: #666666;
}
#header .outside>.containers .fright{
}
#header .outside>.containers>ul,.fright>ul{
    height:30px;

    background-size:100% 100%;
    font-size: 14px;
    margin-top: 5px;
}
#header .outside>.containers>.fright>ul{
    float: right;
}
#header .outside>.containers .input-group{
    float: right;
    width: 210px;
    height: 28px;
    border-radius: 20px;
    margin-top: 7px;

}
#header .outside>.containers .input-group div.search-box{
    width: 26px;
    height: 26px;
    float: right;
}
#header .outside>.containers .input-group div.search-box:hover{
    cursor:pointer;
}
#header .outside>.containers .input-group div.search-box:hover i{
    font-weight:bold;
}
#header .outside>.containers .input-group div.search-box i{
    font-size:20px;
    color:#666;
    font-weigth:bold;
    line-height:24px;
}
#header .outside>.containers .input-group input{
    height:24px;
    width: 180px;
    border-radius:14px;
    line-height: 24px;
    color:#666;
    padding-left:8px;
    outline:none;
    border:none;
    float: left;
    font-size: 12px;
}


#header .outside,#header .outside>.containers{
    height:40px;
}
#header .outside li{
    height:30px;
    float:left;
    line-height:30px;
    color: #666666;
}
#m01 i{
    vertical-align: middle;
    margin-right:4px;
}
.fright li a{
    color: #666666;
}
#header div.header-nav,#header div.header-nav div.lf{
    height:80px;
    color: #666666;
}
#header div.header-nav ul.rt{
    color: #666666;
    height: 26px;
}

#header div.header-nav div.lf{
    height:80px;
    line-height:80px;
    font-size:18px;
}
#header div.header-nav div.lf p{
    color: #ffffff;
}
#header div.header-nav div.lf p span{
    color: #ffffff;
    font-size: 18px;
}
a img#school-logo{
    border: none;
    vertical-align: middle;
}
#headerNav>li{
    float:left;
    position:relative;
    margin-left:10px;
    cursor: pointer;
}
#header div.header-nav ul.rt li a.navFirst{
    padding:0 8px;
    text-align:center;
    font-size:17px;
    display:block;
    color: #ffffff;
    height: 80px;
    line-height: 80px;

}
#header div.header-nav ul.rt li a{
    padding:0 14px;
    text-align:center;
    font-size:18px;
    display:block;
    color: #ffffff;
    height: 26px;
    line-height: 26px;

}
#headerNav>li>a {
    padding: 0 12px;
    text-align: center;
    font-size: 17px;
    display: block;
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
}
#headerNav>li>a:hover{
    text-decoration:none;
}
#headerNav>li.active{
    box-shadow:0 0 8px #666666;
}



/*导航的鼠标悬浮后的弹出下拉菜单*/
#headerNav>li .slide-menu-container{
    position: absolute;
    padding-top: 27px;
    top: 52px;
    text-align: left;
    left: 0;
    display: none;
    width: auto;
}


#header div.header-nav ul.rt li ul.slide-menu li{
    width:auto;
    height:31px;
    line-height:30px;
}
#header div.header-nav ul.rt li ul.slide-menu li a{
    display:block;
    width:auto;
    white-space:nowrap;
    height:100%;
    text-align:left;
    padding:0 20px;
    font-size: 14px;
    line-height: 30px;
    border-bottom:1px solid #959595;
}
#header div.header-nav ul.rt li ul.slide-menu li a span.decoration{
    display:inline-block;
    width:8px;
    height:8px;
    border-radius:4px;
    border:1px solid #fff;
    vertical-align: middle;
    margin-right:10px;
}
#header div.header-nav ul.rt li ul.slide-menu li:hover span.decoration{
    display: inline-block;
    background-color:#fff;
    width:12px;
    height:12px;
    border-radius: 6px;

}

#header div.header-nav ul.rt li ul.slide-menu li:last-child a{
    border-bottom:none;
}



/*带有select区块的公共样式*/
.selects span.label {
    line-height: 24px;
    margin-right:9px;
    font-size:14px;
}
.selects select{
    height:24px;
    margin-right:15px;
}

.nav_toolbar01{
    display: inline-block;
    width: 100%;
    height: 20px;
    font-size: 1px;
    opacity: 0.8;
}
