#cobaltBlue .themeColor{color:#018fa3;}
#cobaltBlue .themeBackgroundColor{background-color:#018fa3;}
#cobaltBlue .themeBorderBottom{border-bottom:1px solid #018fa3}
#cobaltBlue .themeBorderBottom2{border-bottom:2px solid #018fa3}
#cobaltBlue .themeBorder{border:1px solid #018fa3}
#cobaltBlue .themeBottomColor{border-bottom-color: #018fa3 !important;}
#cobaltBlue .themeDarkBg{background-color:#047D8E;}
#cobaltBlue .themeBackgroundColorRgba{background: rgba(1,143,163,0.8);background-color:#018fa3\9; }
#cobaltBlue .themeNavBg{background: url("../../images/v4_1template/cobaltBlue.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/cobaltBlue.png") 0 0 repeat-x;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/cobaltBlue.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#cobaltBlue .themeSecondNavBg{background: url("../../images/v4_1template/cobaltBlue_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/cobaltBlue_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/cobaltBlue_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
/*#cobaltBlue .themeBackgroundImage{*/
    /*background-image:url(../../images/v4template/color6.png);*/
    /*background-position:0 0;*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
/*}*/
#cobaltBlue .themeMenuHead{

    background:url(../../images/v4template/head4.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head8.png',sizingMethod='scale');
}

#cobaltBlue .themeBook{
    background:url(../../images/v4template/book7.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book7.png',sizingMethod='scale');
}



#peacockBlue .themeColor{color:#01a4c5;}
#peacockBlue .themeBackgroundColor{background-color:#01a4c5;}
#peacockBlue .themeBorderBottom{border-bottom:1px solid #01a4c5}
#peacockBlue .themeBorderBottom2{border-bottom:2px solid #01a4c5}
#peacockBlue .themeBorder{border:1px solid #01a4c5}
#peacockBlue .themeBottomColor{border-bottom-color: #01a4c5 !important;}
#peacockBlue .themeDarkBg{background-color:#078FAA;}
#peacockBlue .themeBackgroundColorRgba{background: rgba(1,164,197,0.8);background-color:#01a4c5\9; }
#peacockBlue .themeNavBg{background: url("../../images/v4_1template/peacockBlue.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/peacockBlue.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/peacockBlue.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#peacockBlue .themeSecondNavBg{background: url("../../images/v4_1template/peacockBlue_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/peacockBlue_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/peacockBlue_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}


/*#peacockBlue .themeBackgroundImage{*/
    /*background-image:url(../../images/v4template/color7.png);*/
    /*background-position:0 0;*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
/*}*/
#peacockBlue .themeMenuHead{
    background:url(../../images/v4template/head8.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head8.png',sizingMethod='scale');
}
#peacockBlue .themeBook{
    background:url(../../images/v4template/book1.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book1.png',sizingMethod='scale');
}






#glazedBlue .themeColor{color:#1d50a2;}
#glazedBlue .themeBackgroundColor{background-color:#1d50a2;}
#glazedBlue .themeBorderBottom{border-bottom:1px solid #1d50a2}
#glazedBlue .themeBorderBottom2{border-bottom:2px solid #1d50a2}
#glazedBlue .themeBorder{border:1px solid #1d50a2}
#glazedBlue .themeBottomColor{border-bottom-color: #1d50a2 !important;}
#glazedBlue .themeDarkBg{background-color:#185ECF;}
#glazedBlue .themeBackgroundColorRgba{background: rgba(29,80,162,0.8);background-color:#1d50a2\9; }
#glazedBlue .themeNavBg{background: url("../../images/v4_1template/glazedBlue.png") center no-repeat 100% 100%;
    background: url("../../images/v4_1template/glazedBlue.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/glazedBlue.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#glazedBlue .themeSecondNavBg{background: url("../../images/v4_1template/glazedBlue_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/glazedBlue_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/glazedBlue_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}

/*#glazedBlue .themeBackgroundImage{*/
    /*background-image:url(../../images/v4template/color8.png);*/
    /*background-position:0 0;*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
/*}*/
#glazedBlue .themeMenuHead{
    background:url(../../images/v4template/head7.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head7.png',sizingMethod='scale');
}




#blackishGreen .themeColor{color:#024235;}
#blackishGreen .themeBackgroundColor{background-color:#024235;}
#blackishGreen .themeBorderBottom{border-bottom:1px solid #024235}
#blackishGreen .themeBorderBottom2{border-bottom:2px solid #024235}
#blackishGreen .themeBorder{border:1px solid #024235}
#blackishGreen .themeBottomColor{border-bottom-color: #024235 !important;}
#blackishGreen .themeDarkBg{background-color:#078252;}
#blackishGreen .themeBackgroundColorRgba{background: rgba(2,66,53,0.8);background-color:#024235\9; }
#blackishGreen .themeNavBg{background: url("../../images/v4_1template/blackishGreen.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/blackishGreen.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/blackishGreen.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#blackishGreen .themeSecondNavBg{background: url("../../images/v4_1template/blackishGreen_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/blackishGreen_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/blackishGreen_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#glazedBlue .themeBook{
    background:url(../../images/v4template/book2.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book2.png',sizingMethod='scale');
}

/*#blackishGreen .themeBackgroundImage{*/
    /*background-image:url(../../images/v4template/color5.png);*/
    /*background-position:0 0;*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
/*}*/
#blackishGreen .themeMenuHead{
    background:url(../../images/v4template/head6.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head6.png',sizingMethod='scale');

}
#blackishGreen .themeBook{
    background:url(../../images/v4template/book3.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book3.png',sizingMethod='scale');
}




#tenderGreen .themeColor{color:#76a32d;}
#tenderGreen .themeBackgroundColor{background-color:#76a32d;}
#tenderGreen .themeBorderBottom{border-bottom:1px solid #76a32d}
#tenderGreen .themeBorderBottom2{border-bottom:2px solid #76a32d}
#tenderGreen .themeBorder{border:1px solid #76a32d}
#tenderGreen .themeBottomColor{border-bottom-color: #76a32d !important;}
#tenderGreen .themeDarkBg{background-color:#638C21;}
#tenderGreen .themeBackgroundColorRgba{background: rgba(118,163,45,0.8);background-color:#76a32d\9; }
#tenderGreen .themeNavBg{background: url("../../images/v4_1template/tenderGreen.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/tenderGreen.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/tenderGreen.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#tenderGreen .themeSecondNavBg{background: url("../../images/v4_1template/tenderGreen_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/tenderGreen_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/tenderGreen_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}


#tenderGreen .themeMenuHead{
    background:url(../../images/v4template/head2.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head2.png',sizingMethod='scale');
}

#tenderGreen .themeBook{
    background:url(../../images/v4template/book9.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book9.png',sizingMethod='scale');
}



#brightRed .themeColor{color:#c8161d;}
#brightRed .themeBackgroundColor{background-color:#c8161d;}
#brightRed .themeBorderBottom{border-bottom:1px solid #c8161d}
#brightRed .themeBorderBottom2{border-bottom:2px solid #c8161d}
#brightRed .themeBorder{border:1px solid #c8161d}
#brightRed .themeBottomColor{border-bottom-color: #c8161d !important;}
#brightRed .themeDarkBg{background-color:#AF171D;}
#brightRed .themeBackgroundColorRgba{background: rgba(200,22,29,0.8);background-color:#c8161d\9; }
#brightRed .themeNavBg{background: url("../../images/v4_1template/brightGreen.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/brightGreen.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/brightGreen.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#brightRed .themeSecondNavBg{background: url("../../images/v4_1template/brightRed_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/brightRed_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/brightRed_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}


/*#brightRed .themeBackgroundImage{*/
    /*background-image:url(../../images/v4template/color2.png);*/
    /*background-position:0 0;*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
/*}*/
#brightRed .themeMenuHead{
    background:url(../../images/v4template/head9.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head9.png',sizingMethod='scale');
}
#brightRed .themeBook{
    background:url(../../images/v4template/book4.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book4.png',sizingMethod='scale');
}





#deepRed .themeColor{color:#c24631;}
#deepRed .themeBackgroundColor{background-color:#c24631;}
#deepRed .themeBorderBottom{border-bottom:1px solid #c24631}
#deepRed .themeBorderBottom2{border-bottom:2px solid #c24631}
#deepRed .themeBorder{border:1px solid #c24631}
#deepRed .themeBottomColor{border-bottom-color: #c24631 !important;}
#deepRed .themeDarkBg{background-color:#A33321;}
#deepRed .themeBackgroundColorRgba{background: rgba(194,70,49,0.8);background-color:#c24631\9; }
#deepRed .themeNavBg{background: url("../../images/v4_1template/deepRed.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/deepRed.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/deepRed.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#deepRed .themeSecondNavBg{background: url("../../images/v4_1template/deepRed_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/deepRed_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/deepRed_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}

#deepRed .themeMenuHead{
    background:url(../../images/v4template/head10.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head10.png',sizingMethod='scale');

}

#deepRed .themeBook{
    background:url(../../images/v4template/book5.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book5.png',sizingMethod='scale');
}



#skyBlue .themeColor{color:#369de4;}
#skyBlue .themeBackgroundColor{background-color:#369de4;}
#skyBlue .themeBorderBottom{border-bottom:1px solid #369de4}
#skyBlue .themeBorderBottom2{border-bottom:2px solid #369de4}
#skyBlue .themeBorder{border:1px solid #369de4}
#skyBlue .themeBottomColor{border-bottom-color: #369de4 !important;}
#skyBlue .themeDarkBg{background-color:#185ECF;}
#skyBlue .themeBackgroundColorRgba{background: rgba(54,157,228,0.8);background-color:#369de4\9; }
#skyBlue .themeNavBg{background: url("../../images/v4_1template/skyBlue.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/skyBlue.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/skyBlue.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#skyBlue .themeSecondNavBg{background: url("../../images/v4_1template/skyBlue_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/skyBlue_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/skyBlue_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}

#skyBlue .themeMenuHead{
    background:url(../../images/v4template/head5.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head5.png',sizingMethod='scale');
}

#skyBlue .themeBook{
    background:url(../../images/v4template/book6.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book6.png',sizingMethod='scale');
}

#sunOrange .themeColor{color:#f18d00;}
#sunOrange .themeBackgroundColor{background-color:#f18d00;}
#sunOrange .themeBorderBottom{border-bottom:1px solid #f18d00}
#sunOrange .themeBorderBottom2{border-bottom:2px solid #f18d00}
#sunOrange .themeBorder{border:1px solid #f18d00}
#sunOrange .themeBottomColor{border-bottom-color: #f18d00 !important;}
#sunOrange .themeDarkBg{background-color:#F16600;}
#sunOrange .themeBackgroundColorRgba{background: rgba(241,141,0,0.8);background-color:#f18d00\9; }
#sunOrange .themeNavBg{background: url("../../images/v4_1template/sunOrange.png") center no-repeat/ 100% 100%;
    background: url("../../images/v4_1template/sunOrange.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/sunOrange.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#sunOrange .themeSecondNavBg{background: url("../../images/v4_1template/sunOrange_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/sunOrange_secondNav.png") 0 0 repeat-x;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/sunOrange_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}

#sunOrange .themeMenuHead{
    background:url(../../images/v4template/head1.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head1.png',sizingMethod='scale');
}
#sunOrange .themeBook{
    background:url(../../images/v4template/book10.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book10.png',sizingMethod='scale');
}



#green .themeColor{color:#05955d;}
#green .themeBackgroundColor{background-color:#05955d;}
#green .themeBorderBottom{border-bottom:1px solid #05955d}
#green .themeBorderBottom2{border-bottom:2px solid #05955d}
#green .themeBorder{border:1px solid #05955d}
#green .themeBottomColor{border-bottom-color: #05955d !important;}
#green .themeDarkBg{background-color:#218F64;}
#green .themeBackgroundColorRgba{background: rgba(5,149,93,0.8);background-color:#05955d\9; }
#green .themeNavBg{background: url("../../images/v4_1template/green.png") center no-repeat/ 100% 86px;
    background: url("../../images/v4_1template/green.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/green.png');
    background: none\0;
    *background: none;
}
#green .themeSecondNavBg{background: url("../../images/v4_1template/green_secondNav.png") center repeat-x/ 80% 100%;
    background: url("../../images/v4_1template/green_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/green_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#green .themeMenuHead{
    background:url(../../images/v4template/head3.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/head3.png',sizingMethod='scale');
}

#green .themeBook{
    background:url(../../images/v4template/book8.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book8.png',sizingMethod='scale');
}



#ChinaRed .themeColor{color:#d7000f;}
#ChinaRed .themeBackgroundColor{background-color:#d7000f;}
#ChinaRed .themeBorderBottom{border-bottom:1px solid #d7000f}
#ChinaRed .themeBorderBottom2{border-bottom:2px solid #d7000f}
#ChinaRed .themeBorder{border:1px solid #d7000f}
#ChinaRed .themeBottomColor{border-bottom-color: #d7000f !important;}
#ChinaRed .themeDarkBg{background-color:#aa2236;}
#ChinaRed .themeBackgroundColorRgba{background: rgba(215,0,15,0.8);background-color:#d7000f\9; }
#ChinaRed .themeNavBg{
    background: url("../../images/v4_1template/ChinaRed.png") center no-repeat/ 100% 86px;
    background: url("../../images/v4_1template/ChinaRed.png") 0 0 no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/ChinaRed.png',sizingMethod='scale');
    background: none\0;
    *background: none;
}
#ChinaRed .themeSecondNavBg{background: url("../../images/v4_1template/ChinaRed_secondNav.png") center repeat-x/80% 100%;
    background: url("../../images/v4_1template/ChinaRed_secondNav.png") 0 0 repeat-x;
    background-size: 80% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4_1template/ChinaRed_secondNav.png',sizingMethod='scale');
    background: none\0;
    *background: none;

}

#ChinaRed .themeMenuHead{
    background:url(../../images/v4template/chineseRed.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/chineseRed.png',sizingMethod='scale');
}

#ChinaRed .themeBook{
    background:url(../../images/v4template/book4.png) 0 0 no-repeat;
    background-size:100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/v4template/book4.png',sizingMethod='scale');
}

