/*二级页面首页*/
.sub-index {
    padding: 10px 0;
}
.sub-index .block{
    margin: 10px 40px 50px 0;
    width: 330px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}
.sub-index .block h2{
    font-size: 16px;
    color: #000;
    font-weight: normal;
    margin: 10px 0;
}
.sub-index .block a{
    font-size: 14px;
    color: #2367dc;
    margin-right: 5px;
}
/*二级页面特殊页面*/
.sub-special{
    font-size: 14px;   
}
.sub-special h1{
    font-size: 18px;
    font-weight: normal;
    color: #000;
    margin: 20px 0;
}
.sub-special h2{
    font-size: 16px;
    font-weight: normal;
    color: #000;
    margin: 20px 0;
}
.sub-special p{
    color: #666;
    line-height: 34px;
}
.tab .tab-tit{
    border-bottom: 1px solid #e0e0e0;
    margin: 20px 0;
}
.tab .tab-tit li{
    float: left;
    position: relative;
    top: 1px;
    width: 180px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.tab .tab-tit li.cur{
    border-bottom: 2px solid #0f89f5;
    color: #3b8df7;
}
.tab .tab-tit li.notactive{
    border-bottom: 2px solid #c7c2c2;
}

.tab .tab-tit li.notactive .before{
    border-bottom-color: #c7c2c2;
}

.tab .tab-tit .drop-dwon .before{
    border-width: 6px;
    bottom: 0;
    left: 50%;
    border-bottom-color:#0f89f5;
}
.tab .tab-tit .drop-dwon .after{
    border-width: 6px;
    bottom: -2px;
    left: 50%;
}
/*条件过滤块样式*/
.filter .item{
    float: left;
    margin: 10px 15px 10px 0;

}
/*二级页面h1标题样式*/
.sub-h1{
    font-size: 18px;
    font-weight: normal;
    color: #000;
    margin: 20px 0;
}
/*二级页面h2样式*/
.sub-h2{
    font-size: 16px;
    font-weight: normal;
    color: #000;
    margin: 20px 0;
}
/*二级页面p段落标签*/
.sub-p{
    color: #666;
    line-height: 34px;   
}
/*二级页面select下拉框样式*/
.sub-sel{
    border-radius: 3px;
}
/*二级页面input框样式*/
.sub-ipt{
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    vertical-align: middle;
    padding: 1px;
}
/*二级页面按钮样式*/
.sub-btn{
    background-color: #3b8df7;
    border: #3b8df7 solid 1px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
}
/*二级文章页面*/
.sub-artical{
    padding: 10px;
}
.sub-artical .tit{
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}
.sub-artical .time{
    text-align: center;
    color: #666;
    margin-bottom: 10px;
}
.sub-artical .para{
    text-indent: 2em;
    line-height: 34px;
    font-size: 16px;
}
.pb-100{
    padding-bottom: 100px;
}
.info-title {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px #ddd solid;
    width: 80%;
    margin-left: 10% !important;
}