.content .titTxt{
	color: #6699CC !important;
} 
.hot-qus-class li.cur{
  background-color: #607d8b !important;
  border: 1px solid #607d8b !important;
}
.hot-qus-class li.cur,
.hot-qus-list-wrap{
  border-color: #607d8b !important;
}
.menu .m-head {
	background-color: #607d8b !important;
}
.iconSize,
.w3-text-theme {
  color:#607d8b !important;
}
.top .notice-bar .notice-tit{
	color:#607d8b !important;
}