extends layout.jade
block content
    include ./components/headerNew

    div.containers.photoPage
        div#toTop
            img(src="/images/v4template/backtop.png")
        include ./components/sidebar

        div#main
            div#footprint
                | 您的当前位置：
                a 首页
                | &nbsp;|&nbsp; 校园风采

            include ./components/collegePhotos
        include ./components/rightBooks
        div.clear
    include ./components/footer

    script.
        var SCODE ='#{sCode}'
        var BASE_HOST='!{locals.global.api_sever_url}'
        var HOST= BASE_HOST+'/weixin/api';
        var IMG_HOST='!{locals.global.img_sever_url}'
        var APP_SERVER=''



        $(function(){
            $('#footprint a').attr('href', APP_SERVER + '/' + $('#header').data('identify')).hover(function () {
                $(this).addClass('themeColor');
            }, function () {
                $(this).removeClass('themeColor');
            });
            $('#menu .menu-head h5').html('校园风采')

            $('#menu .menu-head .icon-container').html('<i class="usericon-webicon-76"></i>')

        })



