<!DOCTYPE html>
<html></html>
<head></head>
<title>4.0新模板首页</title>
<link rel="stylesheet" href="/stylesheets/v4template/reset.css">
<link rel="stylesheet" href="/stylesheets/v4template/variable.css">
<link rel="stylesheet" href="/stylesheets/v4template/common.css">
<link rel="stylesheet" href="/stylesheets/v4template/index.css">
<link rel="stylesheet" href="/stylesheets/v4template/articleDetail.css">
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<body id="themeBlue"></body>
<script src="/javascripts/v4template/components/header.js"></script>
<div id="header" class="themeBackgroundColor">
  <div class="container">
    <div class="outside">
      <ul class="lf">
        <li><a href="http://www.baidu.com"><i>&nbsp;</i>&nbsp;移动版 &nbsp;|&nbsp;</a></li>
        <li><a><i>&nbsp;</i>&nbsp;快捷登陆 &nbsp;|&nbsp;</a></li>
        <li><a><i>&nbsp;</i>&nbsp;免费注册</a></li>
      </ul>
      <ul class="rt">
        <li><a><i>&nbsp;</i>&nbsp;网上报名系统 &nbsp;|&nbsp;</a><a><i>&nbsp;</i>&nbsp;录取查询系统</a></li>
      </ul>
    </div>
    <div class="nav">
      <div class="lf">
        <p>• 研招智能咨询系统</p>
      </div>
      <ul class="rt">
        <li><a>首页</a></li>
        <li><a>学校概况</a></li>
        <li><a>学院专业</a></li>
        <li><a>报考指南</a></li>
        <li><a>招生政策</a></li>
        <li><a>人才培养</a></li>
        <li><a>就业质量</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="index-carousel-wrapper">
  <div id="index-carousel"><img src="/images/v4template/1.png"><img src="/images/v4template/2.png"><img src="/images/v4template/3.png"></div>
  <div class="opacity-space"></div>
</div>
<div id="session-box">
  <div class="container">
    <div id="admission-notice">
      <div class="head themeBorderBottom">
        <div class="title"><i></i>
          <h2>招生公告</h2>
        </div><span class="describe">Admission notice</span><a class="toMore">更多&gt;&gt;</a>
      </div>
      <div class="body">
        <div class="headlines">
          <div class="lf">
            <div class="calendar">
              <h1>25</h1>
              <h2>2017.7</h2>
            </div>
          </div>
          <div class="rt news-list">
            <h3><a>阳光高考招办访谈：我校2017年小语种专业全部在提……</a><span class="describe">6月30日</span></h3><a class="describe">对外经济贸易大学2017年面向全国（含港澳…</a>
          </div>
        </div>
        <ul class="news-list">
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种专业全部在提……</a><span class="rt">6月30日</span></li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种专业全部在提……</a><span class="rt">6月30日</span></li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种专业全部在提……</a><span class="rt">6月30日</span></li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种专业全部在提……</a><span class="rt">6月30日</span></li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种专业全部在提……</a><span class="rt">6月30日</span></li>
        </ul>
      </div>
    </div>
    <div id="question-answering"><img src="/images/v4template/jiqiren.gif"><a class="consultation themeColor themeBorder">智能咨询&gt;&gt;</a></div>
    <div id="enrollment-regulations">
      <div class="head themeBackgroundColor"><img src="/images/v4template/zhen1.png">&nbsp;&nbsp;报考指南&nbsp;&nbsp;<img src="/images/v4template/zhen2.png"></div>
      <ul class="body">
        <li><a>招生计划</a></li>
        <li><a>历史录取</a></li>
        <li><a>专业详解</a></li>
        <li><a>教学培养</a></li>
      </ul>
    </div>
    <div id="other-sessions">
      <ul class="other-session-entry">
        <li class="combination6"><a>
            <div><i></i>
              <h4>特殊招生</h4>
            </div></a></li>
        <li class="combination6"><a>
            <div><i></i>
              <h4>奖助勤学</h4>
            </div></a></li>
        <li class="combination6"><a>
            <div><i></i>
              <h4>政策解读</h4>
            </div></a></li>
        <li class="combination6"><a>
            <div><i></i>
              <h4>招生快讯</h4>
            </div></a></li>
        <li class="combination6"><a>
            <div><i></i>
              <h4>校园风采</h4>
            </div></a></li>
        <li class="combination6"><a>
            <div><i></i>
              <h4>视频精选</h4>
            </div></a></li>
      </ul>
    </div>
    <div id="admissions-guidelines">
      <div class="head themeBorderBottom">
        <div class="title"><i></i>
          <h2>招生章程</h2>
        </div><span class="describe">Enrollment regulations</span><a class="toMore">更多&gt;&gt;</a>
      </div>
      <div class="body">
        <div id="move-carousel-wrapper">
          <ul class="view">
            <li>
              <div class="lf"><a><img src="/images/v4template/small.png"></a></div>
              <div class="rt news-list">
                <div class="headlines">
                  <div class="lf">
                    <div class="calendar">
                      <h1>25</h1>
                      <h2>2017.7</h2>
                    </div>
                  </div>
                  <div class="rt">
                    <h3><a>《光明日报》：对外经贸大学 一所国际……</a></h3>
                  </div>
                  <div class="clear"></div>
                  <div class="detail"><a>6月26日上午10时，首届“招办主任光明大直播”团队走进对外经济贸易大学。历时两小时的直播……</a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="lf"><a><img src="/images/v4template/small.png"></a></div>
              <div class="rt news-list">
                <div class="headlines">
                  <div class="lf">
                    <div class="calendar">
                      <h1>25</h1>
                      <h2>2017.7</h2>
                    </div>
                  </div>
                  <div class="rt">
                    <h3><a>《光明日报》：对外经贸大学 一所国际……</a></h3>
                  </div>
                  <div class="clear"></div>
                  <div class="detail"><a>6月26日上午10时，首届“招办主任光明大直播”团队走进对外经济贸易大学。历时两小时的直播……</a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="lf"><a><img src="/images/v4template/small.png"></a></div>
              <div class="rt news-list">
                <div class="headlines">
                  <div class="lf">
                    <div class="calendar">
                      <h1>25</h1>
                      <h2>2017.7</h2>
                    </div>
                  </div>
                  <div class="rt">
                    <h3><a>《光明日报》：对外经贸大学 一所国际……</a></h3>
                  </div>
                  <div class="clear"></div>
                  <div class="detail"><a>6月26日上午10时，首届“招办主任光明大直播”团队走进对外经济贸易大学。历时两小时的直播……</a></div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="circle">
            <li class="themeBackgroundColor"></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <ul class="bottom-list news-list">
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种</a>
            <p class="rt">6月30日</p>
          </li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种</a>
            <p class="rt">6月30日</p>
          </li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种</a>
            <p class="rt">6月30日</p>
          </li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种</a>
            <p class="rt">6月30日</p>
          </li>
          <li><a class="lf">阳光高考招办访谈：我校2017年小语种</a>
            <p class="rt">6月30日</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<script src="/javascripts/v4template/common.js"></script>
<script src="/javascripts/v4template/index.js"></script>
<div id="footer">
  <div class="container">
    <div class="outside">
      <ul class="nav lf">
        <li><a>移动版</a></li>
        <li><a>学校首页</a></li>
        <li><a>本科招办</a></li>
        <li><a>研究生招生网</a></li>
        <li><a>国际合作</a></li>
        <li><a>贸大新闻网</a></li>
      </ul>
      <div class="rt"><a><i></i></a><a><i></i></a><a><i></i></a></div>
    </div>
    <div class="bottom">&copy;版权所有：对外经济贸易大学 北京闻道卓越教育科技有限公司技术支持 Copyright 2017 ALL Right Reserved | 京ICP备 16030849号 招办管理</div>
  </div>
</div>